
<template>
    <div>
        <h1 :class="greeting">{{greeting}} - message from component</h1>
        <h2>{{greeting2}}</h2>
        <AppButton v-for="i in 10" :name="btnname + ' ' + i" :key="i" v-on:button-clicked="buttonIsClicked" :currentBtn="currentButton" />
    </div>
</template>

<style>
    .greeting {
        color: #ff0000;
    }

</style>

<script lang="ts">

import Vue from 'vue'
import AppButton from './components/AppButton.vue'

export default Vue.extend({

    components: {
        AppButton
    },

    data() {
        return {
            greeting2: "second greeting",
            currentButton: ""
        };
    },

    computed: {
        btnname(): string {
            return "button name";
        },
        greeting(): string {
            return "some greeting";
        }
    },

    methods: {
        buttonIsClicked($name: string):void {
            this.currentButton = $name;
            this.greeting2 = $name + " is clicked";
        }
    }
})

</script>
