<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript" src="/<%= htmlWebpackPlugin.options.scriptfolder %>/libs-<%= htmlWebpackPlugin.options.hashstring %>.js"></script>
    <script type="text/javascript" src="/<%= htmlWebpackPlugin.options.scriptfolder %>/header-<%= htmlWebpackPlugin.options.hashstring %>.js"></script>
    <script type="text/javascript" src="/<%= htmlWebpackPlugin.options.scriptfolder %>/footer-<%= htmlWebpackPlugin.options.hashstring %>.js"></script>
    <script>
      var layoutEngine=(function(){var h=document.documentElement,n=h.style,o=" vendor-",c="edge",k="ie",i="khtml",g="mozilla",m="opera",a="webkit",q=" browser-",r="android",j="chrome",e="safari",d=e+"-ios",b="wiiu",f=o,p;if("msScrollLimit" in n||"behavior" in n){if("msTextSizeAdjust" in n&&!("msFlex" in n)){f+=c;p={vendor:c}}else{f+=k+o+k;p={vendor:k};if("msImeAlign" in n){f+="-11";p.version=11}else{if("msUserSelect" in n){f+="-10";p.version=10}else{if("fill" in n){f+="-9";p.version=9}else{if("widows" in n){f+="-8";p.version=8}else{f+="-7";p.version=7}}}}}}else{if("MozAppearance" in n){f+=g;p={vendor:g}}else{if("WebkitAppearance" in n){f+=a;var l=navigator.userAgent;p={vendor:a};if(!!window.chrome||l.indexOf("OPR")>=0||l.indexOf("wv")>=0){f+=q+j;p.browser=j}else{if("webkitDashboardRegion" in n){f+=q+e;p.browser=e}else{if("webkitOverflowScrolling" in n){f+=q+d;p.browser=d}else{if(l.indexOf("Android")>=0){f+=q+r;p.browser=r}else{if(!!window.wiiu){f+=q+b;p.browser=b}}}}}}else{if("OLink" in n||!!window.opera){f+=m;p={vendor:m};if("OMiniFold" in n){f+="-mini";p.browser="mini"}}else{if("KhtmlUserInput" in n){f+=i;p={vendor:i}}else{return false}}}}}h.className+=f;return p})();
    </script>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
  </body>
</html>
