
<template>
    <button @click="clicked()" v-bind:class="isSelected">{{name}}</button>
</template>

<style>
    .selected {
        border: none;
        background-color: #ff0000;
        color: #000000;
    }
    .unselected {
        border: none;
        background-color: #00ff00;
        color: #000000;
    }
</style>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    props: {
        name: String,
        isclicked: Boolean,
        mystyle: String,
        currentBtn: String
    },
    methods: {
        clicked(): void {
            //console.log(this.name + " is clicked");
            this.$emit("button-clicked", this.name);
        }
    },
    computed: {
        isSelected():string {
            return (this.name == this.currentBtn)? "selected": "unselected";
        }
    }    

});

</script>
